html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

h1 {
    font-size: 80px;
    font-weight: bolder;
    color: white;
    text-align: center;
}

html, body {
    overflow: hidden;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background-image: url('/images/BackgroundPhoto.png');
    background-size: cover;
    background-position: center;
}

.container {
    position: absolute;
    top: 18%;
    left: 5%;
}

.categories {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15%;
}


.category {
    background-image: url('/images/Bone.jpg');
    transform: rotate(45deg);
    background-size: cover;
    background-position: center;
    color: black;
    justify-content: center;
    align-items: center;
}


.category h3 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    color: #000;
 }

.cub {
    height: 200px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotate(-45deg);
}

.categoryLink {
    text-decoration: none; 
    color: black; 
    font-weight: bold; 
}

.categoryLink:hover {
    color: green; 
    text-decoration: none; 
}

.message {
    margin: -5%
}


