﻿@{
    ViewData["Title"] = "Home Page";
    var successMessage = TempData["SuccessMessage"] as string;
}

<div class="message">
    @if (!string.IsNullOrEmpty(successMessage))
    {
        <div class="alert alert-success" role="alert">
            @successMessage
        </div>

        <script>
            setTimeout(function () {
                document.querySelector('.alert').style.display = 'none';
            }, 5000);
        </script>
    }
<<<<<<< HEAD
<<<<<<< HEAD
=======
>>>>>>> 092958500033e4d2b7b8991f7ce593956a8d2995
</div>


<div class="container">
    <h1>Inhuman Shop</h1>
    <div class="categories">
        <div class="category">
            <div class="cub">
                <a asp-controller="Product" asp-action="nz" class="categoryLink">Clothing</a>
            </div>
        </div>
        <div class="category">
            <div class="cub">
                <a asp-controller="Product" asp-action="nz" class="categoryLink">Toys</a>
            </div>
        </div>
        <div class="category">
            <div class="cub">
                <a asp-controller="Product" asp-action="nz" class="categoryLink">Medications</a>
            </div>
        </div>
    </div>
<<<<<<< HEAD
=======
>>>>>>> 85a497411bce044414dbc3fcef25b77a347274fa
</div>


<div class="container">
    <h1>Inhuman Shop</h1>
    <div class="categories">
        <div class="category">
            <div class="cub">
                <a asp-controller="Product" asp-action="nz" class="categoryLink">Clothing</a>
            </div>
        </div>
        <div class="category">
            <div class="cub">
                <a asp-controller="Product" asp-action="nz" class="categoryLink">Toys</a>
            </div>
        </div>
        <div class="category">
            <div class="cub">
                <a asp-controller="Product" asp-action="nz" class="categoryLink">Medications</a>
            </div>
        </div>
    </div>
=======
>>>>>>> 092958500033e4d2b7b8991f7ce593956a8d2995
</div>