@{
    ViewData["Title"] = "Home Page";
    var successMessage = TempData["SuccessMessage"] as string;
}

@if (!string.IsNullOrEmpty(successMessage))
{
    <div class="alert alert-success" role="alert">
        @successMessage
    </div>

    <script>
        setTimeout(function () {
            document.querySelector('.alert').style.display = 'none';
        }, 5000);
    </script>
}


<div class="container">
    <h1>Inhuman Shop</h1>
    <div class="categories">
        <div class="category">
            <div class="cub">
                <h3>Clothing</h3>
                @* <a asp-controller="Product" asp-action="nz" class="text-decoration-none">Register</a> *@
            </div>
        </div>
        <div class="category">
            <div class="cub">
                <h3>Toys</h3>
                @* <a asp-controller="Product" asp-action="nz" class="text-decoration-none">Register</a> *@
            </div>
        </div>
        <div class="category">
            <div class="cub">
                <h3>Medications</h3>
                @* <a asp-controller="Product" asp-action="nz" class="text-decoration-none">Register</a> *@
            </div>
        </div>
    </div>
</div>