﻿@{
    ViewData["Title"] = "Home Page";
    var successMessage = TempData["SuccessMessage"] as string;
}

<div class="message">
    @if (!string.IsNullOrEmpty(successMessage))
    {
        <div class="alert alert-success" role="alert">
            @successMessage
        </div>

        <script>
            setTimeout(function () {
                document.querySelector('.alert').style.display = 'none';
            }, 5000);
        </script>
    }
</div>


<div class="container">
    <h1>Inhuman Shop</h1>
    <div class="categories">
        <div class="category">
            <div class="cub">
                <a asp-controller="UserProduct" asp-action="FilterCategory" asp-route-categoryId="1" class="categoryLink">Clothing</a>
            </div>
        </div>
        <div class="category">
            <div class="cub">
                <a asp-controller="UserProduct" asp-action="FilterCategory" asp-route-categoryId="2" class="categoryLink">Toys</a>
            </div>
        </div>
        <div class="category">
            <div class="cub">
                <a asp-controller="UserProduct" asp-action="FilterCategory" asp-route-categoryId="3" class="categoryLink">Medications</a>
            </div>
        </div>
    </div>
    <div class="categories">
        <div class="category">
            <div class="cub">
                <a asp-controller="UserProduct" asp-action="FilterCategory" asp-route-categoryId="4" class="categoryLink">Accessories</a>
            </div>
        </div>
        <div class="category">
            <div class="cub">
                <a asp-controller="UserProduct" asp-action="FilterCategory" asp-route-categoryId="5" class="categoryLink">Food</a>
            </div>
        </div>
    </div>
</div>

