
@{
    ViewData["Title"] = "Confirmation for Profile Edit";
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
}

<div class="account-container">
    <div class="account-box">
        <h2>Enter Password to Edit Profile</h2>

        @using (Html.BeginForm())
        {
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" id="password" name="password" class="form-control" required />
            </div>
            @foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
            {
                <div class="error-text">
                    @error.ErrorMessage
                </div>
            }
            <button type="submit" class="btn">Submit</button>
            <div class="text-center mt-2">
                <a asp-controller="Account" asp-action="Profile" class="text-decoration-none mt-3">Back</a>
            </div>
        }
    </div>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial.cshtml");
    }
}